.nav-wrapper {
    text-align: center;
    background-color: cornflowerblue;
    font-size: 35px
}
.restCol {
    text-align: center;
    
}
.recCol {
    text-align: center;

}
.desCol {
    text-align: center;
}
.dataRender{
    text-align: center;
}
.city{
    text-align: center;
}
.dataRender{
    margin-top: 20px;
}
